html, body {padding:0; margin:0;}
body {font-family: 'Montserrat', sans-serif;}
h1,h2,h3,h4,h5,h6 {margin:0 0 20px 0;}
h2 {font-size: 30px; font-weight: bold;}
h3 {font-size: 28px; font-weight: bold;}
p {font-size: 16px; line-height: 1.5em;}
ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
a {text-decoration: none !important;}
img, iframe {display:block;}

.container {max-width:1100px; margin:0 auto;}
.btn {border-radius:4px; display:inline-block; border: none; background-color: #fff; color: #333333; font-size:16px;}

.row {display:flex; flex-direction:row; flex-wrap:wrap;}
.row > div {flex:1;}

.section-title {margin:0 0 20px 0;}


header {background: #033763; padding:20px 0;}
.navbar {display:flex; align-items:center; justify-content:space-between;}
.navbar-brand img {height:70px;}
.nav a {color: #ffd97d; padding: 10px 26px; font-size: 15px;}
.nav a:hover {color: #fff;}

#slider {background: url("../img/slider-bg.jpg") no-repeat; background-size: cover; background-position: top center; padding: 50px 0;}

#intro {padding: 50px 0; border-bottom:1px solid #ccc;}
#intro .block h2 {line-height: 27px; margin: 0;}
#intro .block p {color: #7B7B7B;}
#intro .block img {padding-left: 40px; width: 100%;}
#intro .section-title {margin-bottom: 20px;}
#intro .section-title p {padding-top: 20px;}

#service {text-align: center; padding: 50px 0;}
#service .service-item {}
#service .service-item i {font-size: 60px; color: #4A4656;}
#service .service-item h4 {padding-top: 20px; margin: 0; color: #666;}
#service .service-item p {color: #888; padding-top: 10px; margin: 0; font-size: 14px; line-height: 1.8;}

#call-to-action {background: #033763; padding: 50px 0px; text-align: center; color: #fff;}
#call-to-action h2 {padding-bottom: 20px; margin: 0; font-size: 30px;}
#call-to-action p {font-size: 14px;}
#call-to-action .btn-call-to-action {padding: 15px 35px; margin-top: 30px;}

footer {background: #F5F5F5; padding: 20px 0;}
footer p {font-size: 12px; color: #999; margin:0;}